@font-face {
  font-weight: 400;
  font-family: 'Cera Pro';
  font-style: normal;
  src: url("../assets/font/CeraPro-Regular.ttf") format("truetype")}
@font-face {
  font-weight: 700;
  font-family: 'Cera Pro';
  font-style: normal;
  src: url("../assets/font/CeraPro-Bold.ttf") format("truetype")}

